.navbar-custom {
    background-color: #222;
    padding: 15px 20px;
  }
  
  .navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
    color: #f8b400 !important;
  }
  
  .navbar-brand:hover {
    color: white !important;
  }
  
  .nav-link-custom {
    color: white !important;
    font-size: 1.1rem;
    margin-right: 15px;
    transition: color 0.3s ease-in-out;
  }
  
  .nav-link-custom:hover {
    color: #f8b400 !important;
  }
  